<a href="https://colab.research.google.com/github/cardazuluaga/DataAnalyticsCourse/blob/main/Ejemplo2Clase3DACourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dir = '/content/sample_data/medellin_etl_dataset_preview.csv'
df = pd.read_csv(dir)
df.head(10)

**Porcentaje de valores faltantes**

In [ ]:
print(df.isna().mean()*100)

**Elementos duplicados**

In [ ]:
print("Duplicados:", df.duplicated().sum())

**Limpieza de Fecha**

Identifica los valores NaT usando df.isnull() o df.isna().
Decide cómo manejar los valores faltantes:
*   Eliminar filas con valores faltantes.
*   Rellenar con un valor específico: df.fillna(value).
*   Rellenar con la media, mediana u otro valor calculado: df.fillna(df.mean()).

In [ ]:
df['fecha_hora'] = pd.to_datetime(df['fecha_hora'], errors='coerce')
df.head(10)

In [ ]:
df = df[df['fecha_hora'].notna()].copy()
df.head(10)

**Normalizar Texto**

In [ ]:
df["barrio"] = df["barrio"].str.strip().str.title()
df["clima"] = df["clima"].str.strip().str.capitalize()
df['tipo_establecimiento'] = df['tipo_establecimiento'].str.strip().str.capitalize()
df["metodo_pago"] = df["metodo_pago"].str.strip().str.capitalize()
df.head()

**Valores numéricos inconsistentes**

In [ ]:
df["ventas_cop"] = (
    df["ventas_cop"]
    .astype(str)
    .str.replace(r"[^\d]", "", regex=True) # eliminar todo lo que no sea dígito
)

df["ventas_cop"] = pd.to_numeric(df["ventas_cop"], errors="coerce")
df.head(10)

In [ ]:
df.loc[df["pm2_5_ugm3"] < 0, "pm2_5_ugm3"] = None
df.loc[df["pm2_5_ugm3"] > 1000, "pm2_5_ugm3"] = None

In [ ]:
df.isna().mean()*100

**Manejo de datos faltantes**

In [ ]:
df["visitantes"].fillna(df["visitantes"].median(), inplace=True)
df.head(10)

In [ ]:
df.isna().mean()*100

In [ ]:
df.to_csv('DB_procesadas.csv', index=False)